:root {
    --background-blue: #152c68;
    --background-red: #88443f;
    --background-green: #156b39;
    --background-orange: #da8414;
    --background-grey: #8c93a7;
    --background-marron: #302b23;
    --background-white: #ffffff;

    
}